<div class="container shadows m-auto p-4 bg-white rounded border border-danger">

    <h1 class="text-center mt-4 mb-4">Inscription</h1>

    <form action="">
        <div class="border border-warning">
            <div class="form-group row ">
                <div class="form-group m-auto text-center col-4 pb-2 ">
                    <input id="input1" type="text" class="form-control" placeholder="Pseudo">
                </div>
                <div class="form-group m-auto text-center col-4 pb-2">
                    <input id="input2" type="text" class="form-control" placeholder="ID Entreprise">
                </div>
            </div>
    
            <div class="form-group row">
                <div class="form-group m-auto text-center col-4 pb-2">
                    <input id="input2" type="text" class="form-control " placeholder="Nom">
                </div>
                <div class="form-group m-auto text-center col-4 pb-2">
                    <input id="input1" type="text" class="form-control" placeholder="Prénom">
                </div>
            </div>
    
            <div class="form-group row">
                <div class="form-group m-auto text-center col-4 pb-2">
                    <input id="input1" type="password" class="form-control" placeholder="Mot de passe">
                </div>
                <div class="form-group m-auto text-center col-4 pb-2">
                    <input id="input2" type="password" class="form-control" placeholder="Confirmation du mot de passe">
                </div>
            </div>
    
    
            <div class="form-group m-auto text-center pb-2">
                <input id="input1" type="email" class="form-control" placeholder="Adresse email">
            </div>
            <div class="form-group m-auto text-center pb-2">
                <input id="input2" type="email" class="form-control" placeholder="Confirmation de l'adresse email">
            </div>
        </div>


    </form>

</div>