<div class="container shadow mx-auto p-4 bg-white rounded">

    <h1 class="text-center mb-4">Inscription</h1>

    <form>
        <div>
            <div class="form-group row ">
                <div class="col-1"></div>
                <div class="form-group m-auto text-center col pb-2 ">
                    <input type="text" class="form-control input1" placeholder="Pseudo">
                </div>
                <div class="col-1"></div>
                <div class="form-group m-auto text-center col pb-2">
                    <input type="text" class="form-control input2" placeholder="ID Entreprise">
                </div>
                <div class="col-1"></div>
            </div>
    
            <div class="form-group row">
                <div class="col-1"></div>
                <div class="form-group m-auto text-center col pb-2">
                    <input type="text" class="form-control input2" placeholder="Nom">
                </div>
                <div class="col-1"></div>
                <div class="form-group m-auto text-center col pb-2">
                    <input type="text" class="form-control input1" placeholder="Prénom">
                </div>
                <div class="col-1"></div>
            </div>
    
            <div class="form-group row">
                <div class="col-1"></div>
                <div class="form-group m-auto text-center col pb-2">
                    <input type="password" class="form-control input1" placeholder="Mot de passe">
                </div>
                <div class="col-1"></div>
                <div class="form-group m-auto text-center col pb-2">
                    <input type="password" class="form-control input2" placeholder="Confirmation du mot de passe">
                </div>
                <div class="col-1"></div>
            </div>
    
            <div class="form-group row">
                <div class="col-1"></div>
                <div class="form-group m-auto col text-center pb-2">
                    <input type="email" class="form-control input1" placeholder="Adresse email">
                </div>
                <div class="col-1"></div>
            </div>
            <div class="form-group row">
                <div class="col-1"></div>
                <div class="form-group m-auto col text-center pb-2">
                    <input type="email" class="form-control input2" placeholder="Confirmation de l'adresse email">
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row pt-2">
                <div class="col-1"></div>
                <div class="m-auto text-center col-2">
                    <button type="submit" class="signup_bouton1 btn btn-primary" (click)="signupDejaInscrit()">Déjà Inscrit ?</button>
                </div>
                <div class="m-auto text-center col">
                    <button type="submit" class="signup_bouton2 btn btn-primary w-75">S'inscrire</button>
                </div>
                <div class="m-auto text-center col-2">
                    <button type="submit" class="signup_bouton3 btn btn-primary" (click)="signupAnnuler()">Annuler</button>
                </div>
                <div class="col-1"></div>
            </div>

        </div>
        




    </form>

</div>