<div class="container">
  <div class="row m-auto">
    <div class="custom-card card col-2 w-25 shadow mb-4 ms-2">
      <div class="card-body">
        <h4 class="text-center">Trajet proposé par<br>Nom Prénom</h4>
        <div class="form-group">
          <div class="form-group m-auto text-center pb-2 ">
            <label class="text-start">Adresse de départ</label>
            <button id="input1" type="text" class="form-control" placeholder="IPI Entreprise" disabled>IPI
              Entreprise</button>
          </div>
          <div class="form-group m-auto text-center pb-2">
            <label>Adresse d'arrivée</label>
            <button id="input2" type="text" class="form-control" placeholder="1 rue Michel Dupont, 44200..." disabled>1
              rue
              Michel Dupont, 44000 NANTES</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="form-group m-auto col-6 text-center pb-2 ">
            <label>Date</label>
            <button id="input1" type="text" class="form-control" placeholder="01/01/1970" disabled>01/01/1970</button>
          </div>
          <div class="form-group m-auto col-6 text-center pb-2">
            <label>Horaire</label>
            <button id="input2" type="text" class="form-control" placeholder="00:00:00" disabled>00:00:00</button>
          </div>
        </div>
        <div class="form-group row mt-2">

          <button class="btn col-5 rounded-pill shadow btn-signup text-white">Reserver</button>
          <div class="col-2"></div>
          <button class="btn col-5 rounded-pill shadow btn-info text-white">+ d'infos</button>
        </div>
      </div>
    </div>
  </div>
</div>