h1 {
  color: #EC6433;
}

#input1::placeholder {
  color: #423B32;
  text-align: center;
}
#input2::placeholder {
  color: #423B32;
  text-align: center;
}

#input1 {
  border: 2px solid #33BEF3;
  border-radius: 25px;
}
#input2 {
  border: 2px solid #EC6433;
  border-radius: 25px;
}

button:disabled {
  background-color: white;
}

.btn-info {
  background-color: #3E393A;
  border: none;
  font-weight: bold;
}

.btn-signup {
  background-color: #EC6433;
  font-weight: bold;
}

.custom-card {
  border-radius: 25px;
  min-height: 400px;
  min-width: 300px;
  margin-bottom: 5%;
}